body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    color:black;
    margin-bottom: 20px;
}

#game-info {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

#board {
    background-color: blue;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
}

.cell {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    box-shadow: inset 0 0 10px gray;
    transition: background-color 0.3s;
}

.column:hover .cell.empty:last-of-type {
    background-color:green;
}

.player1 {
    background-color:red;
    animation: dropAnimation 0.5s;
}

.player2 {
    background-color: yellow;
    animation: dropAnimation 0.5s;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset:hover {
    background-color: green;
}

@keyframes dropAnimation {
    0% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(0);
    }
}

.winning-cell {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}